<link rel="stylesheet" href="/css/home.css">
<!-- container for habits -->

<div class="container rounded bg-white shadow p-3 mb-5" id="box">
    
    <!-- input to add habits -->
    <div id="add-habit-form" class="rounded bg-blue shadow p-3 mb-5">
        <form action="/create-habit" method="POST" >
            <div class="form-group">
                <label for="inputAddress">Child name</label>
                <input type="text" class="form-control" id="inputAddress" name="childId" placeholder="Enter the child name" required>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Details</label>
                <input type="text" class="form-control" id="inputAddress2" name="description" placeholder="Enter your goal" required>
            </div>

            <div class="form-group">
                <label for="inputEnd">End Day</label>
                <input type="date" min=  <%= today %> class="form-control" name="end" id="inputEnd">
            </div>

            <div class="form-group">
                <label for="inputAddress2">Money</label>
                <input type="Number" class="form-control" id="inputAddress2" name="money" placeholder="Enter Money" required>
            </div>





            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add money</button>
            <button type="button" class="btn btn-danger" id="cancel-habit"><i class="fa fa-times"></i> Cancel</button>

        </form>
    </div>

        <button class="btn btn-success" id="btn-add-habit"><i class="fa fa-plus"></i> Add Pocket Money</button>

    <!-- list for habits -->
    <div>
      
        <ul class="list-group" id="habits">
            <%for(let i of habit_list){%>
            <li class="list-group-item list-group-item-success habit">
                <div class="habit-info">
                    <!-- <span><i class="fa fa-check"></i></span> -->
                    <span id="habit-name"><h4><%= i.childId %></h4> </span>
                    <span id="habit-name"><h4><%= i.description %></h4> </span>
                    <span id="habit-name"><h4><%= i.money %></h4> </span>

                    <div>
                        <a class="btn btn-primary" href="/details/getall-details/?id=<%=i._id%>">
                            <i class="fa fa-info-circle"></i> Details
                        </a>
                        <a class="btn btn-danger" href="/delete-habit/?id=<%=i._id%>">
                            <i class="fa fa-times"></i> Remove
                        </a>
                    </div>

                </div>


            </li>
            <%}%>
          </ul>
    </div>

</div>
<script  type="text/javascript" src="/js/home.js"></script>

